---
// Props
const {
  href = '',
  download = false,
  type = 'button',
  class: className = '',
  ...rest
} = Astro.props;
---

{href ? (
  <a
    href={href}
    class={`inline-block group bg-white text-black dark:bg-white dark:text-black border border-zinc-200 dark:border-zinc-800 shadow-md backdrop-blur-lg py-2 px-6 text-base md:text-xl tracking-wide font-bold transition-colors duration-150 hover:bg-transparent hover:text-white ${className}`}
    {...(download ? { download: true } : {})}
    {...rest}
  >
    <slot />
  </a>
) : (
  <button
    type={type}
    class={`inline-block group bg-white text-black dark:bg-white dark:text-black border border-zinc-200 dark:border-zinc-800 shadow-md backdrop-blur-lg py-2 px-6 text-base md:text-xl tracking-wide font-bold transition-colors duration-150 hover:bg-transparent hover:text-white ${className}`}
    {...rest}
  >
    <slot />
  </button>
)} 