---
// Props
const {
  href = '',
  download = false,
  type = 'button',
  class: className = '',
  ...rest
} = Astro.props;
---

{href ? (
  <a
    href={href}
    class={`inline-block group border border-zinc-200 dark:border-zinc-800 shadow-md backdrop-blur-lg py-2 px-6 text-sm md:text-base tracking-wide font-semibold transition-colors duration-150 bg-[var(--color-white)] text-[var(--color-black)] hover:bg-[var(--gloss)] hover:text-[var(--color-white)] ${className}`}
    style="font-family: var(--font-main);"
    {...(download ? { download: true } : {})}
    {...rest}
  >
    <slot />
  </a>
) : (
  <button
    type={type}
    class={`inline-block group border border-zinc-200 dark:border-zinc-800 shadow-md backdrop-blur-lg py-2 px-6 text-sm md:text-base tracking-wide font-semibold transition-colors duration-150 bg-[var(--color-white)] text-[var(--color-black)] hover:bg-[var(--gloss)] hover:text-[var(--color-white)] ${className}`}
    style="font-family: var(--font-main);"
    {...rest}
  >
    <slot />
  </button>
)} 