---
---
<div class="flex items-center w-full select-none">
  <span class="text-white text-lg mr-2">+</span>
  <div class="flex-1 h-px bg-white opacity-30"></div>
  <span class="text-white text-lg ml-2">+</span>
</div> 