---
import { TimelineDemo } from "@/components/ExperienceTimeLine.tsx";
---

<section class="experience-section">
  <div class="timeline-wrapper" style="margin-top: 3rem;">
    <TimelineDemo client:only="react" />
  </div>
  <footer class="w-full mt-15 text-base py-6">
  </footer>
</section>

