---
import ProjectCard from "@/components/ProjectCard.astro";
import projects from "../data/projects.json";
---

<section class="w-full min-h-screen flex flex-col items-center justify-start bg-transparent px-4 sm:px-8 md:px-16 py-12">
  <main class="w-full max-w-7xl mx-auto flex flex-col items-center justify-center gap-24 min-h-[60vh] mt-24">
    {projects.map((project, idx) => (
      <div class={`w-full h-full flex items-center justify-center ${idx !== 0 ? 'mt-32' : ''}`}>
        <ProjectCard {...project} />
      </div>
    ))}
  </main>
  <footer class="w-full max-w-4xl mx-auto mt-16 text-center text-zinc-500 text-sm">
    <span>© {new Date().getFullYear()} Daniel Felipe Pérez. All rights reserved.</span>
  </footer>
</section>
  