---
import '../styles/global.css'
import { ClientRouter } from "astro:transitions";
import Navbar from '@/components/Navbar.astro';
---
<!doctype html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon.ico">
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Portafolio de Daniel Felipe, Ingeniero de Sistemas especializado en aplicaciones web modernas, backend y experiencias digitales." />
		<title>Daniel Felipe</title>
		<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Cinzel:wght@400;700&family=Poppins:wght@400;700&family=Inter:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
		<ClientRouter/>
	</head>
	<body class="bg-white text-black dark:bg-gray-900 dark:text-white">
		<Navbar />
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
